<a href="/cekiai/edit">Pridėti naują</a>

<ul>
    {{#each list}}
    <li><a href="/cekiai/edit/{{id}}">{{dateFormat data}} {{pardavejas}} {{mokejimuTipas}}</a> <a href="/cekiai/delete/{{id}}">X</a>
    <table>
        <thead>
            <tr>
                <th>Preke</th>
                <th>Kaina</th>
                <th>Tipas</th>
            </tr>
        </thead>
        <tbody>
            {{#each prekes}}
            <tr>
                <td>{{pavadinimas}}</td>
                <td>{{kaina}}</td>
                <td>{{islaiduTipas}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </li>
    {{/each}}
</ul>
<a href="/">Back</a>
